In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.342287  0.971702
1    a  two  0.828877 -0.910432
2    b  one  0.165071  0.480541
3    b  two -0.604393 -1.284401
4    a  one  0.340464  0.157333

In [2]:
df['data1'].groupby(by=df['key1']).sum()

key1
a    0.827055
b   -0.439322
Name: data1, dtype: float64

In [3]:
df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     one    -0.000911
      two     0.828877
b     one     0.165071
      two    -0.604393
Name: data1, dtype: float64

In [8]:
#DataFrameGroupby
df.groupby(by=['key1','key2']).mean()

              data1     data2
key1 key2
a    one  -0.000911  0.564517
     two   0.828877 -0.910432
b    one   0.165071  0.480541
     two  -0.604393 -1.284401

In [6]:
df['data1'].groupby([df['key1'],df['key2']]).mean().unstack()

key2       one       two
key1
a    -0.000911  0.828877
b     0.165071 -0.604393

In [7]:
##SeriesGroupBy
df.groupby(by=['key1','key2'])['data1'].mean()

key1  key2
a     one    -0.000911
      two     0.828877
b     one     0.165071
      two    -0.604393
Name: data1, dtype: float64