In [26]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.663955 -0.724106  0.363282
台中  2.866711  0.734135 -0.008510
台南 -0.235092  0.372678  0.086583
高雄  0.116998 -1.298857  1.172776

In [27]:
np.abs(frame)

           b         d         e
台北  0.663955  0.724106  0.363282
台中  2.866711  0.734135  0.008510
台南  0.235092  0.372678  0.086583
高雄  0.116998  1.298857  1.172776

In [28]:
frame.abs()

           b         d         e
台北  0.663955  0.724106  0.363282
台中  2.866711  0.734135  0.008510
台南  0.235092  0.372678  0.086583
高雄  0.116998  1.298857  1.172776

In [29]:
display(frame.loc['台北'])
for item in frame.loc['台北']:
    print(item)

b   -0.663955
d   -0.724106
e    0.363282
Name: 台北, dtype: float64

-0.6639551957436198
-0.7241063260183445
0.3632819070131946

In [30]:
for items in frame:
    print(items)

b
d
e

In [31]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北 -0.663955 -0.724106  0.363282
台中  2.866711  0.734135 -0.008510
台南 -0.235092  0.372678  0.086583
高雄  0.116998 -1.298857  1.172776

1.6141305549423914

In [32]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北 -0.663955 -0.724106  0.363282
台中  2.866711  0.734135 -0.008510
台南 -0.235092  0.372678  0.086583
高雄  0.116998 -1.298857  1.172776

b    2.084662
d   -0.916151
e    1.614131
dtype: float64

台北   -1.024780
台中    3.592336
台南    0.224169
高雄   -0.009084
dtype: float64

In [33]:
def abc(series):
    display(series)

frame.apply(abc)

台北   -0.663955
台中    2.866711
台南   -0.235092
高雄    0.116998
Name: b, dtype: float64

台北   -0.724106
台中    0.734135
台南    0.372678
高雄   -1.298857
Name: d, dtype: float64

台北    0.363282
台中   -0.008510
台南    0.086583
高雄    1.172776
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [34]:
def abc(series):
    display(series)

frame.apply(abc,axis=1)

b   -0.663955
d   -0.724106
e    0.363282
Name: 台北, dtype: float64

b    2.866711
d    0.734135
e   -0.008510
Name: 台中, dtype: float64

b   -0.235092
d    0.372678
e    0.086583
Name: 台南, dtype: float64

b    0.116998
d   -1.298857
e    1.172776
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [35]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()

frame.apply(abc,axis=1)

台北    1.087388
台中    2.875221
台南    0.607770
高雄    2.471633
dtype: float64

In [36]:
frame.sum(axis=1)

台北   -1.024780
台中    3.592336
台南    0.224169
高雄   -0.009084
dtype: float64

In [37]:
def abc(s:pd.Series)->pd.Series:
    return pd.Series([s.max(), s.min()],index=['最大','最小'])
display(frame)
frame.apply(abc,axis=1)

           b         d         e
台北 -0.663955 -0.724106  0.363282
台中  2.866711  0.734135 -0.008510
台南 -0.235092  0.372678  0.086583
高雄  0.116998 -1.298857  1.172776

          最大        最小
台北  0.363282 -0.724106
台中  2.866711 -0.008510
台南  0.372678 -0.235092
高雄  1.172776 -1.298857

In [42]:
import pandas as pd
frame = pd.read_excel('學生第一學期分數.xlsx')
#frame1 = frame.rename({'Unnamed: 0':'學號'})
frame

    Unnamed: 0  學號  國文  英文  數學  地理  歷史   總分    平均  排名
0            3   4  88  91  97  96  84  456  91.2   1
1            9  10  86  95  97  80  95  453  90.6   2
2           27  28  91  96  83  84  93  447  89.4   3
3           16  17  83  74  95  99  95  446  89.2   4
4           43  44  97  89  89  98  68  441  88.2   5
5            6   7  84  86  98  75  98  441  88.2   5
6           10  11  65  91  88  91  96  431  86.2   7
7            7   8  81  99  63  95  91  429  85.8   8
8           29  30  99  82  75  80  90  426  85.2   9
9            0   1  93  77  99  95  61  425  85.0  10
10          34  35  91  60  84  99  91  425  85.0  10
11          15  16  77  91  96  85  75  424  84.8  12
12          35  36  95  69  80  97  82  423  84.6  13
13          28  29  74  73  92  96  85  420  84.0  14
14          11  12  70  88  91  75  94  418  83.6  15
15          32  33  91  85  98  79  65  418  83.6  15
16          38  39  60  86  89  88  93  416  83.2  17
17          33  34  83  72  86  74  97  412  82.4  18
18          25  26  99  66  70  86  83  404  80.8  19
19          40  41  93  64  89  60  97  403  80.6  20
20          49  50  65  96  76  83  83  403  80.6  20
21          12  13  64  82  91  88  78  403  80.6  20
22           2   3  60  91  86  75  90  402  80.4  23
23          17  18  76  64  95  85  81  401  80.2  24
24          23  24  62  77  97  68  96  400  80.0  25
25           1   2  71  75  77  76  99  398  79.6  26
26           8   9  90  72  77  71  84  394  78.8  27
27          21  22  88  74  93  66  72  393  78.6  28
28          44  45  64  96  84  80  64  388  77.6  29
29          20  21  87  64  79  66  91  387  77.4  30
30          41  42  94  92  60  80  60  386  77.2  31
31          14  15  81  63  93  84  63  384  76.8  32
32          31  32  63  82  79  67  92  383  76.6  33
33          19  20  81  83  60  77  81  382  76.4  34
34          47  48  70  69  91  74  78  382  76.4  34
35          37  38  95  60  77  78  71  381  76.2  36
36          22  23  93  78  86  60  62  379  75.8  37
37          26  27  60  97  62  60  98  377  75.4  38
38          45  46  78  65  71  92  70  376  75.2  39
39          30  31  80  60  79  65  91  375  75.0  40
40          13  14  96  71  63  68  77  375  75.0  40
41          42  43  78  82  62  60  91  373  74.6  42
42           4   5  71  98  60  64  76  369  73.8  43
43          36  37  91  73  60  72  67  363  72.6  44
44          18  19  63  79  68  75  68  353  70.6  45
45           5   6  61  75  64  77  70  347  69.4  46
46          24  25  65  82  67  64  67  345  69.0  47
47          46  47  81  60  62  71  70  344  68.8  48
48          39  40  65  60  71  66  77  339  67.8  49
49          48  49  81  72  60  62  61  336  67.2  50

In [43]:
frame2 = frame[['學號','國文','英文','數學','地理','歷史']]
frame3 = frame2.set_index('學號')
frame3

    國文  英文  數學  地理  歷史
學號
4   88  91  97  96  84
10  86  95  97  80  95
28  91  96  83  84  93
17  83  74  95  99  95
44  97  89  89  98  68
7   84  86  98  75  98
11  65  91  88  91  96
8   81  99  63  95  91
30  99  82  75  80  90
1   93  77  99  95  61
35  91  60  84  99  91
16  77  91  96  85  75
36  95  69  80  97  82
29  74  73  92  96  85
12  70  88  91  75  94
33  91  85  98  79  65
39  60  86  89  88  93
34  83  72  86  74  97
26  99  66  70  86  83
41  93  64  89  60  97
50  65  96  76  83  83
13  64  82  91  88  78
3   60  91  86  75  90
18  76  64  95  85  81
24  62  77  97  68  96
2   71  75  77  76  99
9   90  72  77  71  84
22  88  74  93  66  72
45  64  96  84  80  64
21  87  64  79  66  91
42  94  92  60  80  60
15  81  63  93  84  63
32  63  82  79  67  92
20  81  83  60  77  81
48  70  69  91  74  78
38  95  60  77  78  71
23  93  78  86  60  62
27  60  97  62  60  98
46  78  65  71  92  70
31  80  60  79  65  91
14  96  71  63  68  77
43  78  82  62  60  91
5   71  98  60  64  76
37  91  73  60  72  67
19  63  79  68  75  68
6   61  75  64  77  70
25  65  82  67  64  67
47  81  60  62  71  70
40  65  60  71  66  77
49  81  72  60  62  61

In [44]:
def description(s:pd.Series) -> pd.Series:
    max = s.max()
    max_index = s[s==max].index[0]
    min = s.min()
    min_index = s[s==min].index[0]
    std = s.std()
    return pd.Series([max_index,max, min_index,min, std],index=['最高分科目','最高分','最低分科目','最低分','標準差'])

frame3.apply(description,axis=1)

   最高分科目  最高分 最低分科目  最低分        標準差
學號
4     數學   97    歷史   84   5.449771
10    數學   97    地理   80   7.300685
28    英文   96    數學   83   5.683309
17    地理   99    英文   74  10.401923
44    地理   98    歷史   68  12.070626
7     數學   98    地理   75   9.859006
11    歷史   96    國文   65  12.194261
8     英文   99    數學   63  14.394443
30    國文   99    數學   75   9.418068
1     數學   99    歷史   61  15.811388
35    地理   99    英文   60  14.949916
16    數學   96    歷史   75   8.955445
36    地理   97    英文   69  11.545562
29    地理   96    英文   73  10.368221
12    歷史   94    國文   70  10.502381
33    數學   98    歷史   65  12.561847
39    歷史   93    國文   60  13.217413
34    歷史   97    英文   72  10.064790
26    國文   99    英文   66  13.217413
41    歷史   97    地理   60  17.271364
50    英文   96    國文   65  11.326959
13    數學   91    國文   64  10.573552
3     英文   91    國文   60  13.049904
18    數學   95    英文   64  11.432410
24    數學   97    國文   62  15.984367
2     歷史   99    國文   71  11.081516
9     國文   90    地理   71   8.105554
22    數學   93    地理   66  11.392980
45    英文   96    國文   64  13.740451
21    歷史   91    英文   64  12.136721
42    國文   94    數學   60  16.589153
15    數學   93    英文   63  13.349157
32    歷史   92    國文   63  11.717508
20    英文   83    數學   60   9.423375
48    數學   91    英文   69   8.905055
38    國文   95    英文   60  12.716131
23    國文   93    地理   60  14.532722
27    歷史   98    國文   60  20.194059
46    地理   92    英文   65  10.473777
31    歷史   91    英文   60  12.469964
14    國文   96    數學   63  12.786712
43    歷史   91    地理   60  13.296616
5     英文   98    數學   60  14.872794
37    國文   91    數學   60  11.502174
19    英文   79    國文   63   6.348228
6     地理   77    國文   61   6.877500
25    英文   82    地理   64   7.382412
47    國文   81    英文   60   8.348653
40    歷史   77    英文   60   6.457554
49    國文   81    數學   60   9.093954

In [45]:
s = frame3.iloc[0]

max_value = s.max()

s[s==max_value].index[0]

'數學'