In [4]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.169641  0.493292 -0.818613
台中  0.105693 -0.081110  0.007146
台南  0.532175  1.381052  0.941126
高雄 -0.671225  0.197112  0.131151

In [5]:
np.abs(frame)

           b         d         e
台北  0.169641  0.493292  0.818613
台中  0.105693  0.081110  0.007146
台南  0.532175  1.381052  0.941126
高雄  0.671225  0.197112  0.131151

In [6]:
frame.abs()

           b         d         e
台北  0.169641  0.493292  0.818613
台中  0.105693  0.081110  0.007146
台南  0.532175  1.381052  0.941126
高雄  0.671225  0.197112  0.131151

In [7]:
display(frame.loc['台北'])
for item in frame.loc['台北']:
    print(item)

b    0.169641
d    0.493292
e   -0.818613
Name: 台北, dtype: float64

0.16964072261316893
0.49329168328724465
-0.8186130460355755

In [8]:
for items in frame:
    print(items)

b
d
e

In [9]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北  0.169641  0.493292 -0.818613
台中  0.105693 -0.081110  0.007146
台南  0.532175  1.381052  0.941126
高雄 -0.671225  0.197112  0.131151

0.2608104543611388

In [10]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北  0.169641  0.493292 -0.818613
台中  0.105693 -0.081110  0.007146
台南  0.532175  1.381052  0.941126
高雄 -0.671225  0.197112  0.131151

b    0.136283
d    1.990345
e    0.260810
dtype: float64

台北   -0.155681
台中    0.031729
台南    2.854353
高雄   -0.342963
dtype: float64